<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="dataSource" class="com.atomikos.jdbc.AtomikosDataSourceBean"
		init-method="init" destroy-method="close">
		<property name="uniqueResourceName" value="${jdbc_aa.uniqueResourceName}" />
		<property name="xaDataSourceClassName" value="${jdbc.xaDataSourceClassName}" />
		<property name="xaProperties">
			<props>
				<prop key="user">${jdbc_aa.username}</prop>
				<prop key="password">${jdbc_aa.password}</prop>
				<prop key="url">${jdbc_aa.url}</prop>
			</props>
		</property>
		<property name="minPoolSize" value="${atomikos.minPoolSize}" />
		<property name="maxPoolSize" value="${atomikos.maxPoolSize}" />
		<property name="maxIdleTime" value="${atomikos.maxIdleTime}" />
	</bean>

	<bean id="dataSourceB" class="com.atomikos.jdbc.AtomikosDataSourceBean"
		init-method="init" destroy-method="close">
		<property name="uniqueResourceName" value="${jdbc_bb.uniqueResourceName}" />
		<property name="xaDataSourceClassName" value="${jdbc.xaDataSourceClassName}" />
		<property name="xaProperties">
			<props>
				<prop key="user">${jdbc_bb.username}</prop>
				<prop key="password">${jdbc_bb.password}</prop>
				<prop key="url">${jdbc_bb.url}</prop>

			</props>
		</property>
		<property name="minPoolSize" value="${atomikos.minPoolSize}" />
		<property name="maxPoolSize" value="${atomikos.maxPoolSize}" />
		<property name="maxIdleTime" value="${atomikos.maxIdleTime}" />
	</bean>


	<!-- mybitasSqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/spring/mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath*:/spring/A_Mapper.xml"/>
	</bean>
	
	<!-- SqlSessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	    <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!-- mybitasSqlSessionFactoryBean -->
	<bean id="sqlSessionFactoryB" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceB" />
		<property name="configLocation" value="classpath:/spring/mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath*:/spring/B_Mapper.xml"/>
	</bean>

	<!-- SqlSessionTemplate -->
	<bean id="sqlSessionTemplateB" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryB" />
	</bean>


</beans>